<p class='title'>The certificate No <span>F16-159042</span>  Was awarded to Mr <span>KIEYOU NOUMBISSI BRICE</span>   Counting for <span>the final semester </span>  of the course <span>MBA TECHNOLOGY MANAGEMENT</span> </p>

<br>
<br>
<img src="<%= asset_path 'finala.jpg' %>" alt='logo' class='img-responsive'>