<p>The certificate No XXXX-XX Was awarded to Mr XXXXX XXXX XXXX  Counting for the semester X of the course XXXXXXXX XXXXXX XXXXXXX </p>

<img src="<%= asset_path 'sem-7.jpg' %>" alt='logo' class='img-responsive'>
