<p class='title'>The certificate No <span>F14-225672</span>  Was awarded to Mr <span>KIEYOU NOUMBISSI BRICE</span>   Counting for <span>the 7th semester </span>  of the course  <span>MBA TECHNOLOGY MANAGEMENT</span> </p>

<br>
<br>
<img src="<%= asset_path 'sem-7.jpg' %>" alt='logo' class='img-responsive'>
