<p class='title'>The certificate No <span>N14-033900</span>  Was awarded to Mr <span>KIEYOU NOUMBISSI BRICE</span>   Counting for <span>the 8th semester </span>  of the course <span>MBA TECHNOLOGY MANAGEMENT</span> </p>

<br>
<br>
<img src="<%= asset_path 'sem-8.jpg' %>" alt='logo' class='img-responsive'>