<p class='title'>The certificate No <span>J15-090930</span>  Was awarded to Mr <span>KIEYOU NOUMBISSI BRICE</span>   Counting for <span>the 9th semester </span>  of the course <span>MBA TECHNOLOGY MANAGEMENT</span> </p>

<br>
<br>
<img src="<%= asset_path 'sem-9.jpg' %>" alt='logo' class='img-responsive'>